[build]
  publish = "public"
  command = "echo 'No build needed for PHP'"

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.php"
  status = 200
